<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="about">
  <div class="banner-about">
    <div class="banner-about__container">
      <img src="img/icons/banner-about.jpg" alt="" />
      <div class="banner-about__inner">
        <div class="container">
          <p class="banner-about__text text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="about__section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-12">
          <p class="about__text text center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
            odio ea quod laborum aspernatur consectetur, rem tenetur iusto quos
            fugit laudantium id quasi molestiae illo sit omnis dolorem,
            voluptatibus iste a, quidem molestias corporis minima perferendis
            nam. Inventore, expedita rerum.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="marketplace">
    <div class="container">
      <h3 class="about__marketplace-title marketplace__title title">
        Servicii
      </h3>
      <div class="marketplace__items">
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/cetro.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Cetatenia romana
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/lavoro.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de sedere
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/permcond.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de Conducere
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/permsed.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Obtinerea alte acte/ certificate Ro
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/work.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de munca
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/other.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Alte Servicii
          </p>
        </a>
      </div>
    </div>
  </section>
  <%= _.template(require('./../includes/our-experts.html').default)(data) %> <%=
  _.template(require('./../includes/testimonials.html').default)(data) %> <%=
  _.template(require('./../includes/map-contact.html').default)(data) %>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
