<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="blog__title title">
          Fiverr® press
        </h1>
        <p class="blog__date">08 Oct 2020</p>
      </div>
      <div class="col-lg-6 col-md-10 col-12">
        <h3 class="blog__sub-title sub-title">
          Fiverr Releases Global Small Business Needs Index, with E-Commerce,
          Dropshipping, and Web Development Services Topping the List
        </h3>
      </div>
      <div class="col-12">
        <a href="#" class="blog__image-container image-container">
          <img
            src="https://sg.fiverrcdn.com/press_release/1072/SMB%20-%20Press-Page%20_press_image_1602071713.jpg"
            alt=""
            class="blog__image-container-image"
          />
        </a>
      </div>
      <div class="col-12">
        <section class="blog__content">
          <h3 class="blog__sub-title sub-title">
            New search data reveals the most in-demand services small businesses
            are looking for in a post-COVID world
          </h3>
          <p class="text">
            New York, NY - October 7, 2020 - Fiverr International Ltd. (NYSE:
            FVRR), the company that is changing how the world works together,
            today released its second semi-annual Small Business Needs Index.
            This index highlights the variety of different services that small
            businesses feel will help them succeed in a more online first world.
            The global list, backed by Fiverr search data, reveals many
            businesses are searching for tools and services that will help them
            digitally transform.
          </p>
          <p class="text">
            2020 has without a doubt been a challenging time for small
            businesses as the COVID-19 pandemic has forced worldwide
            stay-at-home orders and subsequent business shutdowns, from gyms to
            restaurants and hotels to bus tours. On top of the usual challenges
            small businesses face of adapting to changing customer needs, it's
            clear that over the past six months many have had to adhere to
            in-person closures and figure out how to successfully move their
            businesses online.
          </p>
          <p class="text">
            "It has always been necessary for small businesses to stay on top of
            the latest technology and trends in order to remain relevant in the
            eyes of their customers," said Hila Klein, COO of Fiverr. "In the
            current state of the world, for many businesses, we can see
            enhancing their digital presence and utilizing services to support
            building e-commerce sites has skyrocketed, along with developing
            apps and websites, and enhancing their social presence. On a
            positive note, with the increase in demand for Brand Names, it seems
            likely that new companies are being born at this time. Fiverr has
            the unique ability to not only identify the types of services small
            businesses need, but also to provide them access to skilled
            professionals who can help them."
          </p>
          <p class="list__title text">
            The top ten fastest growing searches on a global scale over the
            previous six months include:
          </p>
          <ul class="list">
            <li class="text">Dropshipping; 319%</li>
            <li class="text">Shopify Promotion; 247%</li>
            <li class="text">Youtube Editing; 231%</li>
            <li class="text">Front End Web Developer; 205%</li>
            <li class="text">Product Mockup; 186%</li>
            <li class="text">Facebook Promotion; 174%</li>
            <li class="text">Social Media Design; 158%</li>
            <li class="text">App Development; 133%</li>
          </ul>
          <p class="text">
            The US data indicates that not only has there been a focus on
            increasing digital offerings, but also in enhancing business
            services, or even starting a new business altogether. Specifically,
            companies have gotten creative with ways to move business along
            serving an online audience by hiring customer service professionals
            to tend to clients. With the need for more distance buying and a
            boom in home buying it makes sense there is more demand in real
            estate videos to show properties in a safe and convenient way,
            especially as more people move from the cities to the suburbs due to
            remote work flexibility. Meanwhile, businesses looking to get off
            the ground are seeking services to support that, like filing
            trademarks.
          </p>
          <p class="text">
            Fiverr's Small Business Needs Index also reveals the top three needs
            for businesses across the globe, specifically in Australia, Brazil,
            France, Germany, Israel, Italy, Mexico, the Netherlands, Portugal
            and the U.K. A more detailed breakdown is viewable here:
            https://blog.fiverr.com/small-business-needs-index-2020-1/
          </p>
          <a href="#" class="link">Back</a>
        </section>
      </div>
    </div>
  </div>
  <section class="blog__about">
    <div class="container">
      <h3 class="blog__about-title sub-title">
        About Fiverr
      </h3>
      <p class="text">
        Fiverr’s mission is to change how the world works together. The Fiverr
        platform connects businesses of all sizes with skilled freelancers
        offering digital services in more than 400 categories, across 8
        verticals including graphic design, digital marketing, programming,
        video and animation. In the twelve months ended June 30, 2020, 2.8
        million customers bought a wide range of services from freelancers
        across more than 160 countries. We invite you to visit us at
        <a href="#" class="link">fiverr.com</a>, read our blog and follow us on
        <a href="#" class="link">Facebook</a>,
        <a href="#" class="link">Twitter</a> and
        <a href="#" class="link">Instagram</a>.
      </p>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
