<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="catAll">
  <section class="search">
    <div class="container">
      <div class="search__container">
        <span class="search__icon">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.8906 14.6531L12.0969 10.8594C12.025 10.7875 11.9313 10.75 11.8313 10.75H11.4187C12.4031 9.60938 13 8.125 13 6.5C13 2.90937 10.0906 0 6.5 0C2.90937 0 0 2.90937 0 6.5C0 10.0906 2.90937 13 6.5 13C8.125 13 9.60938 12.4031 10.75 11.4187V11.8313C10.75 11.9313 10.7906 12.025 10.8594 12.0969L14.6531 15.8906C14.8 16.0375 15.0375 16.0375 15.1844 15.8906L15.8906 15.1844C16.0375 15.0375 16.0375 14.8 15.8906 14.6531ZM6.5 11.5C3.7375 11.5 1.5 9.2625 1.5 6.5C1.5 3.7375 3.7375 1.5 6.5 1.5C9.2625 1.5 11.5 3.7375 11.5 6.5C11.5 9.2625 9.2625 11.5 6.5 11.5Z"
            ></path>
          </svg>
        </span>
        <input class="search__input" type="text" placeholder="Find Services" />
      </div>
    </div>
  </section>
  <section class="catAll__banner banner">
    <div class="container">
      <div class="banner__inner">
        <p class="banner__text text text-white">
          Graphic & Design
        </p>
        <p class="catAll__sub-title banner__text text text-white">
          A single place, millions of creative talents.
        </p>
      </div>
    </div>
  </section>
  <div class="section catAll__list">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12">
          <div class="catAll__items">
            <a href="#" class="catAll__item active">
              <span class="fit-icon" style="width: 16px; height: 16px;"
                ><svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Graphic & Design
            </a>
            <a href="#" class="catAll__item">
              <span class="fit-icon" style="width: 16px; height: 16px;"
                ><svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Logo Design
            </a>
            <a href="#" class="catAll__item">
              <span class="fit-icon" style="width: 16px; height: 16px;"
                ><svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Brand Style Guides
            </a>
            <a href="#" class="catAll__item">
              <span class="fit-icon" style="width: 16px; height: 16px;"
                ><svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Game Art
            </a>
            <a href="#" class="catAll__item">
              <span class="fit-icon" style="width: 16px; height: 16px;"
                ><svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Graphics for Streamers
            </a>
            <a href="#" class="catAll__item">
              <span class="fit-icon" style="width: 16px; height: 16px;"
                ><svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Business Cards & Stationery
            </a>
            <a href="#" class="catAll__item">
              <span class="fit-icon" style="width: 16px; height: 16px;"
                ><svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Illustration
            </a>
            <a href="#" class="catAll__item">
              <span class="fit-icon" style="width: 16px; height: 16px;">
                <svg
                  width="8"
                  height="16"
                  viewBox="0 0 8 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                  ></path>
                </svg>
              </span>
              Pattern Design
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-12">
          <div class="catAll__gallery">
            <div class="row">
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_creative_logo_design_high_quality.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">Logo Design</p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_brand_style_guides.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Brand Style Guides
                  </p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_game_design.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Game Art
                  </p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_graphics_for_streamers_medium.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">Graphics for Streamers</p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_sample_business_cards_design_high_quality.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Business Cards & Stationery
                  </p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_design_illustration2.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Illustration
                  </p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_creative_logo_design_high_quality.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">Logo Design</p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_brand_style_guides.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Brand Style Guides
                  </p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_game_design.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Game Art
                  </p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_graphics_for_streamers_medium.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">Graphics for Streamers</p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_and_design_sample_business_cards_design_high_quality.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Business Cards & Stationery
                  </p>
                </a>
              </div>
              <div class="col-lg-4">
                <a href="category-one.html" class="catAll__gallery-item">
                  <p class="image-container">
                    <img
                      src="https://fiverr-res.cloudinary.com/w_iw_div_3.0,q_auto,f_auto/general_assets/categories/assets/f3/desktop_graphic_design_illustration2.jpg"
                      alt=""
                    />
                  </p>
                  <p class="catAll__gallery-name">
                    Illustration
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
