<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="faq">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-auto col-md-12">
          <div class="faq__categories">
            <div class="faq__categories-item">
              <a href="faq-one.html" class="faq__categories-link">Known Issues</a>
              <span class="faq__categories-icon">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
            <div class="faq__categories-item">
              <a href="faq-one.html" class="faq__categories-link">Referral Program</a>
              <span class="faq__categories-icon">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
            <div class="faq__categories-item">
              <a href="faq-one.html" class="faq__categories-link">Why was my account disabled?</a>
              <span class="faq__categories-icon">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
            <div class="faq__categories-item">
              <a href="faq-one.html" class="faq__categories-link">Buyer FAQs</a>
              <span class="faq__categories-icon">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg col-md-12">
          <div class="row">
            <div class="col-12">
              <h1 class="title">General account management</h1>
            </div>
            <div class="col-12">
              <ul class="faq__accordeon accordeon">
                <li class="faq__accordeon-item accordeon__item open">
                  <button type="button" class="faq__accordeon-button accordeon__button">
                    <h3 class="faq__accordeon-title accordeon__title">Known Issues</h3>
                    <span class="faq__accordeon-icon accordeon__icon">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                  </button>
                  <div class="accordeon__body">
                    <p class="text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="link">Lorem ipsum dolor sit amet.</a> Cum, eum? Molestias mollitia nulla corrupti illo atque laborum earum doloremque iste.
                    </p>
                    <ul class="accordeon__list text">
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit amet consectetur.</li>
                      <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <p class="text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus obcaecati aliquid amet ratione magnam sapiente?
                    </p>
                    <p class="text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, eum? Molestias mollitia nulla corrupti illo atque laborum earum doloremque iste.
                    </p>
                    <ul class="accordeon__list text">
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit amet consectetur.</li>
                      <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <p class="text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus obcaecati aliquid amet ratione magnam sapiente?
                    </p>
                  </div>
                </li>
                <li class="faq__accordeon-item accordeon__item">
                  <button type="button" class="faq__accordeon-button accordeon__button">
                    <h3 class="faq__accordeon-title accordeon__title">Why was my account disabled?</h3>
                    <span class="faq__accordeon-icon accordeon__icon">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                  </button>
                  <div class="accordeon__body">
                    <p class="text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, eum? Molestias mollitia nulla corrupti illo atque laborum earum doloremque iste.
                    </p>
                    <ul class="accordeon__list text">
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit amet consectetur.</li>
                      <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <p class="text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus obcaecati aliquid amet ratione magnam sapiente?
                    </p>
                  </div>
                </li>
                <li class="faq__accordeon-item accordeon__item">
                  <button type="button" class="faq__accordeon-button accordeon__button">
                    <h3 class="faq__accordeon-title accordeon__title">Buyer FAQ's</h3>
                    <span class="faq__accordeon-icon accordeon__icon">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                  </button>
                  <div class="accordeon__body">
                    <p class="text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, eum? Molestias mollitia nulla corrupti illo atque laborum earum doloremque iste.
                    </p>
                    <ul class="accordeon__list text">
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit amet consectetur.</li>
                      <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <p class="text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus obcaecati aliquid amet ratione magnam sapiente?
                    </p>
                  </div>
                </li>
                <li class="faq__accordeon-item accordeon__item">
                  <button type="button" class="faq__accordeon-button accordeon__button">
                    <h3 class="faq__accordeon-title accordeon__title">General account management</h3>
                    <span class="faq__accordeon-icon accordeon__icon">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                  </button>
                  <div class="accordeon__body">
                    <p class="text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, eum? Molestias mollitia nulla corrupti illo atque laborum earum doloremque iste.
                    </p>
                    <ul class="accordeon__list text">
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit amet consectetur.</li>
                      <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <p class="text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus obcaecati aliquid amet ratione magnam sapiente?
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
