<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<main class="homeContent">
  <div class="banner-promo">
    <div>
      <a href="#" class="banner-promo__slide">
        <img src="img/icons/banner.jpg" alt="" />
        <div class="container">
          <div class="banner-promo__inner">
            <p class="banner-promo__text text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="banner-promo__gift">
              Consultatie gratuita cadou
            </div>
          </div>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="banner-promo__slide">
        <img src="img/icons/banner.jpg" alt="" />
        <div class="container">
          <div class="banner-promo__inner">
            <p class="banner-promo__text text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="banner-promo__gift">
              Consultatie gratuita cadou
            </div>
          </div>
        </div>
      </a>
    </div>
    <div>
      <a href="#" class="banner-promo__slide">
        <img src="img/icons/banner.jpg" alt="" />
        <div class="container">
          <div class="banner-promo__inner">
            <p class="banner-promo__text text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="banner-promo__gift">
              Consultatie gratuita cadou
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="call">
    <div class="button">
      <div class="button" data-toggle="modal" data-target="book">
        <span class="button__icon">
          <i class="fas fa-book"></i>
        </span>
        <span>Consultatie Gratuita</span>
      </div>
    </div>
  </div>
  <section class="marketplace">
    <div class="container">
      <h3 class="marketplace__title title">
        Servicii
      </h3>
      <div class="marketplace__items">
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/cetro.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Cetatenia romana
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/lavoro.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de sedere
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/permcond.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de Conducere
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/permsed.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Obtinerea alte acte/ certificate Ro
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/work.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de munca
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/other.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Alte Servicii
          </p>
        </a>
      </div>
    </div>
  </section>
  <section class="team" id="team">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
          <h3 class="team__title title">
            DISCUTA LIVE CU EXPERTII NOSTRI
          </h3>
          <p class="team__text text center">
            We are a team of dentists, hygienists and receptionists who work
            together to ensure that you receive the best treatment that you
            require at a very time that suits you.
          </p>
        </div>
      </div>
      <div class="row team__container">
        <siv class="col-lg-4">
          <div class="team__item">
            <img
              src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
            <div class="team__description">
              <div class="team__name">Steven Jacob</div>
              <span class="team__func">Jurist</span>
              <a href="#" class="team__button button">
                <span class="button__icon"
                  ><i class="fas  fa-phone-alt"></i
                ></span>
                <span>call</span>
              </a>
            </div>
          </div>
        </siv>
        <div class="col-lg-4">
          <div class="team__item">
            <img
              src="https://image.tmdb.org/t/p/original/hs2xlX7jAgY0dib1RPmjMjqVLMC.jpg"
              alt=""
            />
            <div class="team__description">
              <div class="team__name">Steven Jacob</div>
              <span class="team__func"
                >Jurist Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Iusto, non.</span
              >
              <a href="#" class="team__button button">
                <span class="button__icon"
                  ><i class="fas  fa-phone-alt"></i
                ></span>
                <span>call</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team__item">
            <img
              src="https://monkey47.com/thumbs/species-rara/mark-braun/mark-braun-500x750-q75.jpg"
              alt=""
            />
            <div class="team__description">
              <div class="team__name">Steven Jacob</div>
              <span class="team__func">Jurist Lorem ipsum dolor sit amet.</span>
              <a href="#" class="team__button button">
                <span class="button__icon"
                  ><i class="fas  fa-phone-alt"></i
                ></span>
                <span>call</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="call">
    <div class="button" data-toggle="modal" data-target="book">
      <span class="button__icon">
        <i class="fas fa-book"></i>
      </span>
      <span>Consultatie Gratuita</span>
    </div>
  </div>
  <section class="testimonials">
    <div class="container">
      <h3 class="testimonials__title title">
        Our Clients
      </h3>
      <div class="testimonials__slider">
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Lorem, ipsum.
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Lorem, ipsum dolor.
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Lorem, ipsum.
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Lorem ipsum dolor sit amet.
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section class="map-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <div class="hours-plan">
            <h5>Working Hours</h5>
            <p>Check out Montan Dentist’s Office hours to plan your visit.</p>
            <ul>
              <li><span>Monday</span><span>8AM-9PM</span></li>
              <li><span>Tuesday</span><span>8AM-9PM</span></li>
              <li><span>Wednesday</span><span>9AM-6:30PM</span></li>
              <li><span>Thursday</span><span>8AM-9PM</span></li>
              <li><span>Friday</span><span>8AM-9PM</span></li>
              <li><span>Saturday-Sunday</span><span>Closed</span></li>
            </ul>
            <h5>Need Flexible Time?</h5>
            <div class="button" data-toggle="modal" data-target="book">
              <span class="button__icon">
                <i class="fas fa-book"></i>
              </span>
              <span>Programeaza-te</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=bucuresti&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe>
        <a href="https://www.embedgooglemap.net"></a>
      </div>
      <style>
        .mapouter {
          text-align: right;
          height: 100%;
          width: 100%;
        }
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 100%;
          width: 100%;
        }
      </style>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
