<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<main class="homeContent">
  <section class="banner">
    <div class="container">
      <div class="banner__inner">
        <p class="banner__text text text-white">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="banner__text text text-white">
          Lorem ipsum dolor sit amet.
        </p>
        <div class="banner__gift">
          Consultatie gratuita cadou
          <img
            src="https://genesis-stars.com/local/assets/img/suprise2.png"
            alt=""
          />
        </div>
        <div class="banner__button button">
          Ia testul
        </div>
        <div class="banner__points">
          <div class="banner__point">
            Lorem <br />
            ipsum <br />
            dolor <br />
            sit.
          </div>
          <div class="banner__point">
            Lorem <br />
            ipsum <br />
            dolor <br />
            sit.
          </div>
          <div class="banner__point">
            Lorem <br />
            ipsum <br />
            dolor <br />
            sit.
          </div>
          <div class="banner__point">
            Lorem <br />
            ipsum <br />
            dolor <br />
            sit.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="experts">
    <div class="container">
      <div class="experts__inner">
        <h3 class="experts__title title">
          Experts online
        </h3>
        <div class="experts__slider slider">
          <div class="experts__slide">
            <div class="experts__header">
              <div class="experts__avatar">
                <img
                  src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
                  alt=""
                />
              </div>
              <div class="experts__description">
                <p class="experts__status">
                  Online
                </p>
                <a href="#" class="experts__name">Anastasia Obertinskaya</a>
                <p class="experts__domains">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <p class="experts__rating rating">
                  <svg
                    style="color: #fbce19;"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                    ></path>
                  </svg>
                  <span>Rating 4.79</span>
                  <span class="experts__rating-count rating__count">
                    (96 evaluations)
                  </span>
                </p>
              </div>
            </div>
            <div class="experts__actions">
              <p class="experts__freeCons">
                Free first consultation
              </p>
              <div class="price">
                <span class="price__discount">
                  10 euro/min
                </span>
                <span>
                  0 euro/min
                </span>
              </div>
              <div class="experts__buttons">
                <a href="#" class="experts__button button">
                  <span>
                    Request
                  </span>
                </a>
                <a href="#" class="experts__button button button-white">
                  <svg
                    style="margin-right: 10px; color: #000000;"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="phone"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="red"
                      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                    ></path>
                  </svg>
                  <span>
                    Call
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="experts__slide">
            <div class="experts__header">
              <div class="experts__avatar">
                <img
                  src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
                  alt=""
                />
              </div>
              <div class="experts__description">
                <p class="experts__status">
                  Online
                </p>
                <a href="#" class="experts__name">Anastasia Obertinskaya</a>
                <p class="experts__domains">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <p class="experts__rating rating">
                  <svg
                    style="color: #fbce19;"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                    ></path>
                  </svg>
                  <span>Rating 4.79</span>
                  <span class="experts__rating-count rating__count">
                    (96 evaluations)
                  </span>
                </p>
              </div>
            </div>
            <div class="experts__actions">
              <p class="experts__freeCons">
                Free first consultation
              </p>
              <div class="price">
                <span class="price__discount">
                  10 euro/min
                </span>
                <span>
                  0 euro/min
                </span>
              </div>
              <div class="experts__buttons">
                <a href="#" class="experts__button button">
                  <span>
                    Request
                  </span>
                </a>
                <a href="#" class="experts__button button button-white">
                  <svg
                    style="margin-right: 10px; color: #000000;"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="phone"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="red"
                      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                    ></path>
                  </svg>
                  <span>
                    Call
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="experts__slide">
            <div class="experts__header">
              <div class="experts__avatar">
                <img
                  src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
                  alt=""
                />
              </div>
              <div class="experts__description">
                <p class="experts__status">
                  Online
                </p>
                <a href="#" class="experts__name">Anastasia Obertinskaya</a>
                <p class="experts__domains">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <p class="experts__rating rating">
                  <svg
                    style="color: #fbce19;"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                    ></path>
                  </svg>
                  <span>Rating 4.79</span>
                  <span class="experts__rating-count rating__count">
                    (96 evaluations)
                  </span>
                </p>
              </div>
            </div>
            <div class="experts__actions">
              <p class="experts__freeCons">
                Free first consultation
              </p>
              <div class="price">
                <span class="price__discount">
                  10 euro/min
                </span>
                <span>
                  0 euro/min
                </span>
              </div>
              <div class="experts__buttons">
                <a href="#" class="experts__button button">
                  <span>
                    Request
                  </span>
                </a>
                <a href="#" class="experts__button button button-white">
                  <svg
                    style="margin-right: 10px; color: #000000;"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="phone"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="red"
                      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                    ></path>
                  </svg>
                  <span>
                    Call
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="experts__slide">
            <div class="experts__header">
              <div class="experts__avatar">
                <img
                  src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
                  alt=""
                />
              </div>
              <div class="experts__description">
                <p class="experts__status">
                  Online
                </p>
                <a href="#" class="experts__name">Anastasia Obertinskaya</a>
                <p class="experts__domains">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <p class="experts__rating rating">
                  <svg
                    style="color: #fbce19;"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                    ></path>
                  </svg>
                  <span>Rating 4.79</span>
                  <span class="experts__rating-count rating__count">
                    (96 evaluations)
                  </span>
                </p>
              </div>
            </div>
            <div class="experts__actions">
              <p class="experts__freeCons">
                Free first consultation
              </p>
              <div class="price">
                <span class="price__discount">
                  10 euro/min
                </span>
                <span>
                  0 euro/min
                </span>
              </div>
              <div class="experts__buttons">
                <a href="#" class="experts__button button">
                  <span>
                    Request
                  </span>
                </a>
                <a href="#" class="experts__button button button-white">
                  <svg
                    style="margin-right: 10px; color: #000000;"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="phone"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="red"
                      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                    ></path>
                  </svg>
                  <span>
                    Call
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="profesional">
    <div class="container">
      <div class="profesional__inner">
        <h3 class="profesional__title title">
          Popular services
        </h3>
        <div class="profesional__slider slider">
          <div class="profesional__slide">
            <div class="profesional__image">
              <img
                src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741678/logo-design-2x.png"
                alt=""
              />
            </div>
            <p class="profesional__service">
              <span class="profesional__descr">Build your brand</span>
              <span>Logo Design</span>
            </p>
          </div>
          <div class="profesional__slide">
            <div class="profesional__image">
              <img
                src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/ae11e2d45410b0eded7fba0e46b09dbd-1598561917003/wordpress-2x.png"
                alt=""
              />
            </div>
            <p class="profesional__service">
              <span class="profesiona__descr">Build your brand</span>
              <span>Logo Design</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="business">
    <div class="container">
      <h3 class="business__title title">A business soulution for you</h3>
      <p class="profexional__text text text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
        necessitatibus.
      </p>
      <ul>
        <li>
          <svg
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"
            ></path>
            <path
              d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"
            ></path>
          </svg>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          <svg
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"
            ></path>
            <path
              d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"
            ></path>
          </svg>
          Lorem ipsum dolor sit.
        </li>
        <li>
          <svg
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"
            ></path>
            <path
              d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"
            ></path>
          </svg>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </li>
      </ul>
      <a href="#" class="business__button button">
        <span>Explore Business</span>
      </a>
    </div>
  </section>
  <section class="marketplace">
    <div class="container">
      <h3 class="marketplace__title title">
        Explore the marketplace
      </h3>
      <div class="marketplace__items">
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/graphics-design.d32a2f8.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Graphics & Design
          </p>
        </a>
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/online-marketing.74e221b.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Digital Marketing
          </p>
        </a>
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/writing-translation.32ebe2e.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Writing & Translation
          </p>
        </a>
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/video-animation.f0d9d71.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Video & Animation
          </p>
        </a>
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/graphics-design.d32a2f8.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Graphics & Design
          </p>
        </a>
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/online-marketing.74e221b.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Digital Marketing
          </p>
        </a>
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/writing-translation.32ebe2e.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Writing & Translation
          </p>
        </a>
        <a href="#" class="marketplace__item">
          <img
            src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/video-animation.f0d9d71.svg"
            alt=""
          />
          <p class="marketplace__text text">
            Video & Animation
          </p>
        </a>
      </div>
    </div>
  </section>
  <section class="solutions">
    <div class="container">
      <h3 class="solutions__title title">
        Our solutions
      </h3>
      <div class="solutions__items">
        <a href="#" class="solutions__item">
          <div class="solution__background">
            <img
              src="https://genesis-stars.com/local/assets/img/landing/family.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="#" class="solutions__item">
          <div class="solution__background">
            <img
              src="https://genesis-stars.com/local/assets/img/landing/work.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="#" class="solutions__item">
          <div class="solution__background">
            <img
              src="https://genesis-stars.com/local/assets/img/landing/buissnes.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="#" class="solutions__item">
          <div class="solution__background">
            <img
              src="https://genesis-stars.com/local/assets/img/landing/salle.jpg"
              alt=""
            />
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="testimonials">
    <div class="container">
      <h3 class="testimonials__title title">
        Our Clients
      </h3>
      <div class="testimonials__slider">
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Co-Founder, Kay Kim
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Co-Founder, Kay Kim
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Co-Founder, Kay Kim
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__activity">
            Co-Founder, Kay Kim
          </p>
          <p class="testimonials__name">
            NAADAM
          </p>
          <blockquote class="testimonials__text">
            "We've used Fiverr for Shopify web development, graphic design, and
            backend web development. Working with Fiverr makes my job a little
            easier every day."
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="blog__title title">
            Blog
          </h3>
        </div>
      </div>
      <div class="blog__items row">
        <div class="blog__item col-md-4">
          <a href="#" class="blog__image">
            <img
              src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_450,dpr_1.0/v1/attachments/generic_asset/asset/d532c0ad4feed007b3899cebad595286-1599611560157/guide-start-online-business-552-x2.png"
              alt=""
            />
          </a>
          <a href="#" class="blog__name">
            Start an online business and work from home
          </a>
          <p class="blog__text text">
            A complete guide to starting a small business online
          </p>
        </div>
        <div class="blog__item col-md-4">
          <a href="#" class="blog__image">
            <img
              src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_450,dpr_1.0/v1/attachments/generic_asset/asset/d532c0ad4feed007b3899cebad595286-1599611560157/guide-start-online-business-552-x2.png"
              alt=""
            />
          </a>
          <a href="#" class="blog__name">
            Start an online business and work from home
          </a>
          <p class="blog__text text">
            A complete guide to starting a small business online
          </p>
        </div>
        <div class="blog__item col-md-4">
          <a href="#" class="blog__image">
            <img
              src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_450,dpr_1.0/v1/attachments/generic_asset/asset/d532c0ad4feed007b3899cebad595286-1599611560157/guide-start-online-business-552-x2.png"
              alt=""
            />
          </a>
          <a href="#" class="blog__name">
            Start an online business and work from home
          </a>
          <p class="blog__text text">
            A complete guide to starting a small business online
          </p>
        </div>
      </div>
      <a href="#" class="blog__more">
        See More ...
      </a>
    </div>
  </section>
  <section class="becameExpert">
    <div class="container">
      <div class="becameExpert__inner">
        <h3 class="becameExpert__title title">
          Find the talent needed to get your business growing.
        </h3>
        <a href="#" class="becameExpert__button button"
          ><span>Get Started</span></a
        >
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
