<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<main class="prodOne">
  <section class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">
            <span class="breadcrumbs__icon">
              <svg
                style="fill:currentColor"
                width="8"
                height="16"
                viewBox="0 0 8 16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                ></path>
              </svg>
            </span>
            Home
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">
            <span class="breadcrumbs__icon">
              <svg
                style="fill:currentColor"
                width="8"
                height="16"
                viewBox="0 0 8 16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.772126 1.19065L0.153407 1.80934C0.00696973 1.95578 0.00696973 2.19322 0.153407 2.33969L5.80025 8L0.153407 13.6603C0.00696973 13.8067 0.00696973 14.0442 0.153407 14.1907L0.772126 14.8094C0.918563 14.9558 1.156 14.9558 1.30247 14.8094L7.84666 8.26519C7.99309 8.11875 7.99309 7.88131 7.84666 7.73484L1.30247 1.19065C1.156 1.04419 0.918563 1.04419 0.772126 1.19065Z"
                ></path>
              </svg>
            </span>
            Home
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="experts">
    <div class="container">
      <div class="prodOne__inner experts__inner">
        <div class="prodOne__slide experts__slide">
          <div class="prodOne__header experts__header">
            <div class="prodOne__avatar experts__avatar">
              <img
                src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
                alt=""
              />
            </div>
            <div class="prodOne__description experts__description">
              <p class="prodOne__status experts__status">
                Online
              </p>
              <h3 class="prodOne__title title experts__name">
                Anastasia Obertinskaya
              </h3>
              <p class="prodOne__domains experts__domains">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <p class="prodOne__rating experts__rating rating">
                <svg
                  style="color: #fbce19;"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
                <span>Rating 4.79</span>
                <span
                  class="prodOne__rating-count experts__rating-count rating__count"
                >
                  (96 evaluations)
                </span>
              </p>
            </div>
          </div>
          <div class="prodOne__actions experts__actions">
            <p class="prodOne__freeCons experts__freeCons">
              Free first consultation
            </p>
            <div class="prodOne__button button">
              Intreaba
            </div>
            <p class="text text-center">Chat gratuit cu expertul</p>
            <div
              class="prodOne__button-white experts__button button button-white"
            >
              <span class="button__icon">
                <svg
                  style="margin-right: 10px;fill: currentColor;"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                  ></path>
                </svg>
              </span>
              <span>Suna gratuit</span>
            </div>
            <div class="prodOne__price price">
              <span class="prodOne__discount price__discount">
                10 euro/min
              </span>
              <span>
                0 euro/min
              </span>
            </div>
            <div
              class="prodOne__button-white experts__button button button-white"
            >
              <span class="button__icon">
                <svg
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M532 386.2c27.5-27.1 44-61.1 44-98.2 0-80-76.5-146.1-176.2-157.9C368.3 72.5 294.3 32 208 32 93.1 32 0 103.6 0 192c0 37 16.5 71 44 98.2-15.3 30.7-37.3 54.5-37.7 54.9-6.3 6.7-8.1 16.5-4.4 25 3.6 8.5 12 14 21.2 14 53.5 0 96.7-20.2 125.2-38.8 9.2 2.1 18.7 3.7 28.4 4.9C208.1 407.6 281.8 448 368 448c20.8 0 40.8-2.4 59.8-6.8C456.3 459.7 499.4 480 553 480c9.2 0 17.5-5.5 21.2-14 3.6-8.5 1.9-18.3-4.4-25-.4-.3-22.5-24.1-37.8-54.8zm-392.8-92.3L122.1 305c-14.1 9.1-28.5 16.3-43.1 21.4 2.7-4.7 5.4-9.7 8-14.8l15.5-31.1L77.7 256C64.2 242.6 48 220.7 48 192c0-60.7 73.3-112 160-112s160 51.3 160 112-73.3 112-160 112c-16.5 0-33-1.9-49-5.6l-19.8-4.5zM498.3 352l-24.7 24.4 15.5 31.1c2.6 5.1 5.3 10.1 8 14.8-14.6-5.1-29-12.3-43.1-21.4l-17.1-11.1-19.9 4.6c-16 3.7-32.5 5.6-49 5.6-54 0-102.2-20.1-131.3-49.7C338 339.5 416 272.9 416 192c0-3.4-.4-6.7-.7-10C479.7 196.5 528 238.8 528 288c0 28.7-16.2 50.6-29.7 64z"
                  ></path>
                </svg>
              </span>
              <span>comanda un chat</span>
            </div>
            <p class="text text-center">Servicii cu plata in chat</p>
          </div>
          <a class="experts__price-link" href="#"
            >Afla preturile la toate serviciile</a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="prodOne__content">
    <div class="container">
      <div class="prodOne__content-inner row">
        <div class="col-lg-2 col-md-12 col-12">
          <div class="prodOne__anchors anchors">
            <div class="anchors__items">
              <a href="#about" class="anchors__item anchors__item-active">
                About
              </a>
              <a href="#prices" class="anchors__item">
                Preturi
              </a>
              <a href="#services" class="anchors__item">
                Servicii
              </a>
              <a href="#reviews" class="anchors__item">
                Reviews
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-12 col-12">
          <div id="about" class="prodOne__anchor-box prodOne__about">
            <div class="sub-title">Description</div>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos,
              veritatis.
            </p>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatum soluta est, cumque necessitatibus ipsam at labore.
              Exercitationem corrupti nam unde.
            </p>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos,
              veritatis.
            </p>
          </div>
          <div id="prices" class="prodOne__anchor-box prodOne__consult">
            <div class="sub-title">Consultatii Online</div>
            <table class="prodOne__table">
              <caption>
                Chat
              </caption>
              <tr>
                <td>Tarif 1 tarif 1 asdfasf adsf sadfasf asdfas</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 2</td>
                <td>330euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 3</td>
                <td>10euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 4</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 5</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 6</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 7</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 8</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 9</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
            </table>

            <table class="prodOne__table">
              <caption>
                La telefon
              </caption>
              <tr>
                <td>Tarif 1 tarif 1 asdfasf adsf sadfasf asdfas</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 2</td>
                <td>330euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 3</td>
                <td>10euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 4</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 5</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 6</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 7</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 8</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 9</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
            </table>
          </div>
          <div
            id="services"
            class="prodOne__anchor-box prodOne__cardServices cardServices"
          >
            <h3 class="sub-title">Alte servicii</h3>
            <div class="prodOne__slider slider">
              <div>
                <div class="cardService">
                  <div class="cardService__header">
                    <div class="cardService__image">
                      <img
                        src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                        alt=""
                      />
                    </div>
                    <div class="cardService__right">
                      <div class="cardService__name">
                        Service 1
                      </div>
                    </div>
                  </div>
                  <div class="cardService__body">
                    <p class="cardService__text text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Neque voluptates autem, modi dolorem sed pariatur eius,
                      est a nesciunt nulla placeat. Doloremque similique nisi
                      nam placeat animi, rem magnam asperiores.
                    </p>
                    <div class="cardService__flex">
                      <div class="cardService__price">
                        <span>1200 euro</span>
                      </div>
                      <button type="button" class="button button-white">
                        <span>
                          Vezi Detalii
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="cardService__footer">
                    <a href="#" class="button"><span>Comanda</span></a>
                  </div>
                </div>
              </div>
              <div>
                <div class="cardService">
                  <div class="cardService__header">
                    <div class="cardService__image">
                      <img
                        src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                        alt=""
                      />
                    </div>
                    <div class="cardService__right">
                      <div class="cardService__name">
                        Service 2
                      </div>
                    </div>
                  </div>
                  <div class="cardService__body">
                    <p class="cardService__text text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Neque voluptates autem, modi dolorem sed pariatur eius,
                      est a nesciunt nulla placeat. Doloremque similique nisi
                      nam placeat animi, rem magnam asperiores.
                    </p>
                    <div class="cardService__flex">
                      <div class="cardService__price">
                        <span>1 700 euro</span>
                      </div>
                      <button type="button" class="button button-white">
                        <span>
                          Vezi Detalii
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="cardService__footer">
                    <a href="#" class="button"><span>Comanda</span></a>
                  </div>
                </div>
              </div>
              <div>
                <div class="cardService">
                  <div class="cardService__header">
                    <div class="cardService__image">
                      <img
                        src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                        alt=""
                      />
                    </div>
                    <div class="cardService__right">
                      <div class="cardService__name">
                        Service 1
                      </div>
                    </div>
                  </div>
                  <div class="cardService__body">
                    <p class="cardService__text text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Neque voluptates autem, modi dolorem sed pariatur eius,
                      est a nesciunt nulla placeat. Doloremque similique nisi
                      nam placeat animi, rem magnam asperiores.
                    </p>
                    <div class="cardService__flex">
                      <div class="cardService__price">
                        <span>1200 euro</span>
                      </div>
                      <button type="button" class="button button-white">
                        <span>
                          Vezi Detalii
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="cardService__footer">
                    <a href="#" class="button"><span>Comanda</span></a>
                  </div>
                </div>
              </div>
              <div>
                <div class="cardService">
                  <div class="cardService__header">
                    <div class="cardService__image">
                      <img
                        src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                        alt=""
                      />
                    </div>
                    <div class="cardService__right">
                      <div class="cardService__name">
                        Service 1
                      </div>
                    </div>
                  </div>
                  <div class="cardService__body">
                    <p class="cardService__text text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Neque voluptates autem, modi dolorem sed pariatur eius,
                      est a nesciunt nulla placeat. Doloremque similique nisi
                      nam placeat animi, rem magnam asperiores.
                    </p>
                    <div class="cardService__flex">
                      <div class="cardService__price">
                        <span>1200 euro</span>
                      </div>
                      <button type="button" class="button button-white">
                        <span>
                          Vezi Detalii
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="cardService__footer">
                    <a href="#" class="button"><span>Comanda</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="reviews"
            class="prodOne__anchor-box prodOne__reviews reviews"
          >
            <div class="reviews__customTitle">
              <div class="reviews__sub-title sub-title">Reviews</div>
              <p class="reviews__rating rating">
                <svg
                  style="color: #fbce19;"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
                <span>4.79</span>
                <span class="experts__rating-count rating__count">
                  (96)
                </span>
              </p>
            </div>
            <div class="reviews__rating-categories">
              <div class="reviews__rating-category-item">
                <div class="reviews__rating-category-title">
                  Seller communication level
                </div>
                <p class="reviews__rating rating">
                  <svg
                    style="color: #fbce19;"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                    ></path>
                  </svg>
                  <span>4.79</span>
                </p>
              </div>
              <div class="reviews__rating-category-item">
                <div class="reviews__rating-category-title">
                  Recommend to a friend
                </div>
                <p class="reviews__rating rating">
                  <svg
                    style="color: #fbce19;"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                    ></path>
                  </svg>
                  <span>4.79</span>
                </p>
              </div>
              <div class="reviews__rating-category-item">
                <div class="reviews__rating-category-title">
                  Service as described
                </div>
                <p class="reviews__rating rating">
                  <svg
                    style="color: #fbce19;"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                    ></path>
                  </svg>
                  <span>4.79</span>
                </p>
              </div>
            </div>
            <div class="reviews__posts">
              <div class="reviews__posts-item">
                <div class="reviews__posts-avatar">
                  <img
                    src="https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,t_profile_small/v1/profile/photos/65776850/original/16298472_1218666014838031_3099854113077803937_n.jpg"
                    alt=""
                  />
                </div>
                <div class="reviews__posts-content">
                  <a href="#" class="reviews__posts-name">
                    <span>Mandib</span>
                    <p class="reviews__rating rating">
                      <svg
                        style="color: #fbce19;"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                        ></path>
                      </svg>
                      <span>4.79</span>
                    </p>
                  </a>
                  <div class="reviews__posts-country">
                    <img
                      class="country-flag"
                      src="https://fiverr-dev-res.cloudinary.com/general_assets/flags/1f1ec-1f1e7.png"
                      alt=""
                    />
                    United Kingdom
                  </div>
                  <p class="reviews__posts-text text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Reiciendis quaerat et nam voluptatem exercitationem
                    cupiditate.
                  </p>
                  <p class="reviews__posts-date text">
                    Published 2 days ago
                  </p>
                  <div class="reviews__posts-footer">
                    <button type="button" class="helpful text">
                      <i class="far fa-thumbs-up"></i>
                      Helpful
                    </button>
                    <button type="button" class="notHelpful text">
                      <i class="far fa-thumbs-down"></i>
                      Not Helpful
                    </button>
                  </div>
                </div>
              </div>
              <div class="reviews__posts-item">
                <div class="reviews__posts-avatar">
                  <img
                    src="https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,t_profile_small/v1/profile/photos/65776850/original/16298472_1218666014838031_3099854113077803937_n.jpg"
                    alt=""
                  />
                </div>
                <div class="reviews__posts-content">
                  <a href="#" class="reviews__posts-name">
                    <span>Mandib</span>
                    <p class="reviews__rating rating">
                      <svg
                        style="color: #fbce19;"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                        ></path>
                      </svg>
                      <span>4.79</span>
                    </p>
                  </a>
                  <div class="reviews__posts-country">
                    <img
                      class="country-flag"
                      src="https://fiverr-dev-res.cloudinary.com/general_assets/flags/1f1ec-1f1e7.png"
                      alt=""
                    />
                    United Kingdom
                  </div>
                  <p class="reviews__posts-text text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Reiciendis quaerat et nam voluptatem exercitationem
                    cupiditate.
                  </p>
                  <p class="reviews__posts-date text">
                    Published 2 days ago
                  </p>
                  <div class="reviews__posts-footer">
                    <button type="button" class="helpful text">
                      <i class="far fa-thumbs-up"></i>
                      Helpful
                    </button>
                    <button type="button" class="notHelpful text">
                      <i class="far fa-thumbs-down"></i>
                      Not Helpful
                    </button>
                  </div>
                </div>
              </div>
              <div class="reviews__posts-item">
                <div class="reviews__posts-avatar">
                  <img
                    src="https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,t_profile_small/v1/profile/photos/65776850/original/16298472_1218666014838031_3099854113077803937_n.jpg"
                    alt=""
                  />
                </div>
                <div class="reviews__posts-content">
                  <a href="#" class="reviews__posts-name">
                    <span>Mandib</span>
                    <p class="reviews__rating rating">
                      <svg
                        style="color: #fbce19;"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                        ></path>
                      </svg>
                      <span>4.79</span>
                    </p>
                  </a>
                  <div class="reviews__posts-country">
                    <img
                      class="country-flag"
                      src="https://fiverr-dev-res.cloudinary.com/general_assets/flags/1f1ec-1f1e7.png"
                      alt=""
                    />
                    United Kingdom
                  </div>
                  <p class="reviews__posts-text text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Reiciendis quaerat et nam voluptatem exercitationem
                    cupiditate.
                  </p>
                  <p class="reviews__posts-date text">
                    Published 2 days ago
                  </p>
                  <div class="reviews__posts-footer">
                    <button type="button" class="helpful text">
                      <i class="far fa-thumbs-up"></i>
                      Helpful
                    </button>
                    <button type="button" class="notHelpful text">
                      <i class="far fa-thumbs-down"></i>
                      Not Helpful
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
