<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="servOne">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-7 col-12">
        <div class="servOne__content">
          <div class="servOne__header">
            <div class="servOne__header-left">
              <h1 class="servOne__title title">
                Расклад на любимого человека
              </h1>
              <div class="image-container">
                <img
                  src="https://genesis-stars.com/upload/iblock/46a/46a7a1a944566bb27524ad168f6488f3.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="servOne__header-right">
              <ul class="servOne__list">
                <li class="servOne__list-item">
                  <span>Pretul serviciului:</span>
                  <span>2 500 lei</span>
                </li>
                <li class="servOne__list-item">
                  <span>Numarul de pagini:</span>
                  <span>5</span>
                </li>
                <li class="servOne__list-item">
                  <span>Termenul:</span>
                  <span>5 zile</span>
                </li>
              </ul>
              <a href="#" class="button">
                <span>Comanda serviciul</span>
              </a>
            </div>
            <div class="servOne__footer">
              <h3 class="sub-title">Despre serviciu</h3>
              <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
                ipsum nemo quaerat et quos quas perferendis earum quae! Earum,
                hic porro illo officia sapiente repudiandae error tempore iure
                numquam aliquam.
              </p>
              <h3 class="sub-title">Informatie necesara</h3>
              <ul class="servOne__information">
                <li class="text">Numele / Prenumele</li>
                <li class="text">Data nasterii</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="servOne__cardServices cardServices">
          <h3 class="title">Alte servicii</h3>
          <div class="servOne__slider slider">
            <div>
              <div class="cardService">
                <div class="cardService__header">
                  <div class="cardService__image">
                    <img
                      src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                      alt=""
                    />
                  </div>
                  <div class="cardService__right">
                    <div class="cardService__name">
                      Service 1
                    </div>
                  </div>
                </div>
                <div class="cardService__body">
                  <p class="cardService__text text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque voluptates autem, modi dolorem sed pariatur eius, est
                    a nesciunt nulla placeat. Doloremque similique nisi nam
                    placeat animi, rem magnam asperiores.
                  </p>
                  <div class="cardService__flex">
                    <div class="cardService__price">
                      <span>1200 euro</span>
                    </div>
                    <button type="button" class="button button-white">
                      <span>
                        Vezi Detalii
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cardService__footer">
                  <a href="#" class="button"><span>Comanda</span></a>
                </div>
              </div>
            </div>
            <div>
              <div class="cardService">
                <div class="cardService__header">
                  <div class="cardService__image">
                    <img
                      src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                      alt=""
                    />
                  </div>
                  <div class="cardService__right">
                    <div class="cardService__name">
                      Service 2
                    </div>
                  </div>
                </div>
                <div class="cardService__body">
                  <p class="cardService__text text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque voluptates autem, modi dolorem sed pariatur eius, est
                    a nesciunt nulla placeat. Doloremque similique nisi nam
                    placeat animi, rem magnam asperiores.
                  </p>
                  <div class="cardService__flex">
                    <div class="cardService__price">
                      <span>1 700 euro</span>
                    </div>
                    <button type="button" class="button button-white">
                      <span>
                        Vezi Detalii
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cardService__footer">
                  <a href="#" class="button"><span>Comanda</span></a>
                </div>
              </div>
            </div>
            <div>
              <div class="cardService">
                <div class="cardService__header">
                  <div class="cardService__image">
                    <img
                      src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                      alt=""
                    />
                  </div>
                  <div class="cardService__right">
                    <div class="cardService__name">
                      Service 1
                    </div>
                  </div>
                </div>
                <div class="cardService__body">
                  <p class="cardService__text text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque voluptates autem, modi dolorem sed pariatur eius, est
                    a nesciunt nulla placeat. Doloremque similique nisi nam
                    placeat animi, rem magnam asperiores.
                  </p>
                  <div class="cardService__flex">
                    <div class="cardService__price">
                      <span>1200 euro</span>
                    </div>
                    <button type="button" class="button button-white">
                      <span>
                        Vezi Detalii
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cardService__footer">
                  <a href="#" class="button"><span>Comanda</span></a>
                </div>
              </div>
            </div>
            <div>
              <div class="cardService">
                <div class="cardService__header">
                  <div class="cardService__image">
                    <img
                      src="https://genesis-stars.com/upload/iblock/06d/06d583561f4b9f39ce71810b9a359494.png"
                      alt=""
                    />
                  </div>
                  <div class="cardService__right">
                    <div class="cardService__name">
                      Service 1
                    </div>
                  </div>
                </div>
                <div class="cardService__body">
                  <p class="cardService__text text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque voluptates autem, modi dolorem sed pariatur eius, est
                    a nesciunt nulla placeat. Doloremque similique nisi nam
                    placeat animi, rem magnam asperiores.
                  </p>
                  <div class="cardService__flex">
                    <div class="cardService__price">
                      <span>1200 euro</span>
                    </div>
                    <button type="button" class="button button-white">
                      <span>
                        Vezi Detalii
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cardService__footer">
                  <a href="#" class="button"><span>Comanda</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 col-12">
        <div class="servOne__expert experts">
          <h1 class="servOne__title title">
            Serviciu oferit de Constantin Constantin
          </h1>
          <div class="servOne__avatar experts__avatar">
            <img
              src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
              alt=""
            />
          </div>
          <div class="servOne__description experts__description">
            <p class="servOne__status experts__status">
              Online
            </p>
            <h3 class="servOne__name experts__name">
              Anastasia Obertinskaya
            </h3>
            <p class="servOne__domains experts__domains">
              Lorem ipsum dolor sit amet consectetur.
            </p>
            <a href="one-product.html" class="servOne__expert-text text"
              >Vezi pagina expertului</a
            >
            <p class="servOne__rating experts__rating rating">
              <svg
                style="color: #fbce19;"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                data-fa-i2svg=""
              >
                <path
                  fill="currentColor"
                  d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                ></path>
              </svg>
              <span>Rating 4.79</span>
              <span
                class="servOne__rating-count experts__rating-count rating__count"
              >
                (96 evaluations)
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="catOne__paymentMethods paymentMethods">
    <div class="container">
      <h4 class="paymentMethods__sub-title sub-title">
        Incarca contul
      </h4>
      <div class="paymentMethods__items">
        <div class="paymentMethods__item">
          <img
            src="https://genesis-stars.com/local/assets/img/ico_pay/visa-master-ico.svg"
            alt=""
          />
        </div>
        <div class="paymentMethods__item">
          <img
            src="https://genesis-stars.com/local/assets/img/ico_pay/privat-ico.svg"
            alt=""
          />
        </div>
        <div class="paymentMethods__item">
          <img
            src="https://genesis-stars.com/local/assets/img/ico_pay/mir-ico.svg"
            alt=""
          />
        </div>
        <div class="paymentMethods__item">
          <img
            src="https://genesis-stars.com/local/assets/img/ico_pay/webmoney-ico.svg"
            alt=""
          />
        </div>
        <div class="paymentMethods__item">
          <img
            src="https://genesis-stars.com/local/assets/img/ico_pay/qiwi-ico.svg"
            alt=""
          />
        </div>
        <div class="paymentMethods__item">
          <img
            src="https://genesis-stars.com/local/assets/img/ico_pay/yandex-ico.svg"
            alt=""
          />
        </div>
      </div>
      <button class="paymentMethods__button button" type="button">
        Incarca contul
      </button>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
