<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<main class="prodOne">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Obtinerea CI</h1>
      </div>
    </div>
  </div>
  <section class="prodOne__content">
    <div class="container">
      <div class="prodOne__content-inner row">
        <div class="col-lg-auto col-md-12 col-12">
          <div class="prodOne__anchors anchors">
            <div class="anchors__items">
              <a href="#about" class="anchors__item anchors__item-active">
                About
              </a>
              <a href="#prices" class="anchors__item">
                Preturi
              </a>
              <a href="#services" class="anchors__item">
                Some section
              </a>
              <a href="#reviews" class="anchors__item">
                Some personal activity
              </a>
              <a href="#about" class="anchors__item">
                Some
              </a>
              <a href="#prices" class="anchors__item">
                Ohter
              </a>
              <a href="#services" class="anchors__item">
                Servicii
              </a>
              <a href="#reviews" class="anchors__item">
                Reviews
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg col-md-12 col-12">
          <div id="about" class="prodOne__anchor-box prodOne__about">
            <div class="sub-title">Description</div>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos,
              veritatis.
            </p>
            <p class="text">
              Lorem ipsum dolor sit,
              <a href="#">amet consectetur</a> adipisicing elit. Voluptatum
              soluta est, cumque necessitatibus ipsam at labore.
              <a href="#">Exercitationem</a>
              corrupti nam unde.
            </p>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos,
              veritatis.
            </p>
            <ul class="text">
              <li>Lorem, ipsum.</li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                veniam, iste praesentium dolore, dicta dignissimos cupiditate
                aperiam deserunt repudiandae ut et in id modi tempora eveniet
                assumenda natus odit. Eum?
              </li>
              <li>Lorem.</li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Similique, reiciendis.
              </li>
            </ul>
          </div>
          <div id="prices" class="prodOne__anchor-box prodOne__consult">
            <div class="sub-title">Consultatii Online</div>

            <p class="text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga qui
              labore fugiat suscipit accusamus eveniet sint voluptatibus
              nesciunt cumque, est voluptas aut deleniti doloribus dolores.
            </p>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
              deserunt, incidunt inventore expedita ipsum velit.
            </p>
          </div>
          <div id="services" class="prodOne__anchor-box prodOne__consult">
            <div class="sub-title">Consultatii Online</div>
            <table class="prodOne__table">
              <caption>
                Chat
              </caption>
              <tr>
                <td>Tarif 1 tarif 1 asdfasf adsf sadfasf asdfas</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 2</td>
                <td>330euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 3</td>
                <td>10euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 4</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 5</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 6</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 7</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 8</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 9</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
            </table>

            <table class="prodOne__table">
              <caption>
                La telefon
              </caption>
              <tr>
                <td>Tarif 1 tarif 1 asdfasf adsf sadfasf asdfas</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 2</td>
                <td>330euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 3</td>
                <td>10euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 4</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 5</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 6</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 7</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 8</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
              <tr>
                <td>Tarif 9</td>
                <td>30euro/min</td>
                <td><a href="#">Comanda</a></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-auto col-md-12 col-12">
          <div class="experts">
            <h3 class="sub-title">
              Discuta Live cu expertii nostri
            </h3>

            <div class="experts__inner">
              <div class="experts__item">
                <div class="experts__header">
                  <div class="experts__avatar">
                    <img
                      src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
                      alt=""
                    />
                  </div>
                  <div class="experts__description">
                    <p class="experts__status">
                      Online
                    </p>
                    <a href="#" class="experts__name">Anastasia Obertinskaya</a>
                    <p class="experts__domains">
                      Lorem ipsum dolor sit amet consectetur.
                    </p>
                  </div>
                </div>
                <div class="experts__actions">
                  <p class="experts__freeCons">
                    Free first consultation
                  </p>
                  <div class="experts__buttons">
                    <a href="#" class="experts__button button">
                      <span class="button__icon">
                        <i class="fas fa-comments"></i>
                      </span>
                      <span>
                        Message
                      </span>
                    </a>
                    <a href="#" class="experts__button button button-white">
                      <span class="button__icon">
                        <svg
                          style="margin-right: 10px; color: currentColor;"
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="phone"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512"
                          data-fa-i2svg=""
                        >
                          <path
                            fill="currentColor"
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                          ></path>
                        </svg>
                      </span>
                      <span>
                        Call
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="experts__item">
                <div class="experts__header">
                  <div class="experts__avatar">
                    <img
                      src="https://genesis-stars.com/upload/iblock/2e0/2e08b6447edae452330e06404d43adc6.png"
                      alt=""
                    />
                  </div>
                  <div class="experts__description">
                    <p class="experts__status">
                      Online
                    </p>
                    <a href="#" class="experts__name">Anastasia Obertinskaya</a>
                    <p class="experts__domains">
                      Lorem ipsum dolor sit amet consectetur.
                    </p>
                  </div>
                </div>
                <div class="experts__actions">
                  <p class="experts__freeCons">
                    Free first consultation
                  </p>
                  <div class="experts__buttons">
                    <a href="#" class="experts__button button">
                      <span class="button__icon">
                        <i class="fas fa-comments"></i>
                      </span>
                      <span>
                        Message
                      </span>
                    </a>
                    <a href="#" class="experts__button button button-white">
                      <span class="button__icon">
                        <svg
                          style="margin-right: 10px; color: currentColor;"
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="phone"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512"
                          data-fa-i2svg=""
                        >
                          <path
                            fill="currentColor"
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                          ></path>
                        </svg>
                      </span>
                      <span>
                        Call
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
