<%= _.template(require('./../includes/head.html').default)(data) %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="services">
  <section class="marketplace">
    <div class="container">
      <h3 class="marketplace__title title">
        Servicii
      </h3>
      <div class="marketplace__items">
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/cetro.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Cetatenia romana
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/lavoro.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de sedere
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/permcond.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de Conducere
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/permsed.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Obtinerea alte acte/ certificate Ro
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/work.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Permis de munca
          </p>
        </a>
        <a href="one-product.html" class="marketplace__item">
          <div class="marketplace__image-container">
            <img src="img/icons/other.png" alt="" />
          </div>
          <p class="marketplace__text text">
            Alte Servicii
          </p>
        </a>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
