.cabinetPage {
  &__bonus-bloc {
    padding: 0 15px;
    padding-bottom: 40px;
    margin-top: 40px;
  }
  &__bonus-bloc:nth-child(1) {
    background-color: $fon_cabinetMenu;
  }
  &__bonus-bloc:nth-child(2) {
    background-color: $fon_bussines;

    .sub-title {
      color: #fff;
    }

    .cabinetPage__time {
      color: $color_alert;
    }
  }
  &__time {
    background-color: #fff;
    text-align: center;
    padding: 10px 15px;
    color: $color_second;
    font-weight: 500;
    font-size: $fontSize_button;
    margin-bottom: 15px;
  }
  &__time-minutes {
    margin-right: 15px;
  }
  &__time-number {
    font-size: $fontSize_title;
  }
  &__greenBack {
    background-color: $fon_green;
    color: #fff;
    padding: 20px 30px;
    text-align: center;
    font-size: $fontSize_name;
  }
  &__charge-payment {
    margin-bottom: 30px;
  }
  &__charge-button {
    margin-top: 30px;
    width: 100%;
  }
  &__charge-select-container {
    margin-bottom: 20px;
  }
  &__charge-input {
    display: none;
  }
  &__borderBottom {
    padding-bottom: 20px;
  }
  &__support {
    margin-top: 40px;
  }
  &__selectBlock {
    display: flex;
    justify-content: space-between;
  }

  &__select-container {
    width: 30%;
  }

  &__passwordChange-button {
    opacity: 0.7;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
  }

  &__passwordBlock {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  &__desk {
    display: none;
  }

  &__subscribes-checkContainer {
    margin-bottom: 10px;
  }

  &__subscribes {
    border-bottom: 1px solid $color_border_input;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  &__subscribes-button {
    margin-bottom: 10px;
  }

  &__filter-buttons {
    margin-bottom: 40px;
  }
  .saveButton {
    width: 100%;
    max-width: 400px;
  }
}

.order {
  box-shadow: 0 3px 13px 3px rgba($color: #000000, $alpha: 0.2);
  padding: 15px;
  padding-bottom: 0;
  border-radius: 9px;
  margin-bottom: 30px;

  &__header {
    display: flex;
  }

  &__image {
    width: 90px;
    min-width: 90px;
    margin-right: 15px;
  }

  &__price,
  &__date {
    font-size: $fontSize_name;
    color: $color_main;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__date {
    margin-bottom: 0;
  }

  &__name {
    display: block;
    font-size: $fontSize_small;
    line-height: $fontSize_small * 1.3;
    color: $color_main;
    margin-bottom: 5px;
    height: $fontSize_small * 2 * 1.3;
    overflow: hidden;
  }

  &__body {
    padding: 15px 0;
  }

  &__footer {
    padding: 15px 0;
    border-top: 1px solid $color_border_input;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status {
    text-transform: uppercase;
    padding: 5px;
    font-size: $fontSize_small;
  }

  &__status.completed {
    background-color: rgba($color: $color_second, $alpha: 0.2);
    color: $color_second;
    font-weight: 500;
  }
}

.user,
.notification,
.message {
  display: flex;
  align-items: center;

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;

    img {
      border-radius: 50%;
    }
  }

  &__name {
    color: $color_hints;
  }

  &__status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color_hints;
    border: 1px solid #fff;
    position: absolute;
    bottom: 2%;
    right: 5%;
  }

  &__status.online {
    background: $fon_green;
  }
}

.notification {
  padding: 15px 0;
  &__avatar {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }

  &__name {
    color: $color_main;
    overflow: hidden;
    font-size: $fontSize_main;
    line-height: $fontSize_main * 1.3;
    height: $fontSize_main * 1.3 * 3;
  }

  &__status {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: $color_additional;
    color: #fff;
    font-size: 10px;
  }

  &__date {
    color: $color_main;
    font-size: $fontSize_main;
  }

  &.unread {

    .notification__name {
      font-weight: 700;
    }
  }
}

.message {
  padding: 15px 0;
  &__avatar {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }

  &__name {
    color: $color_main;
    font-size: $fontSize_name;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
  }

  &__text {
    overflow: hidden;
    font-size: $fontSize_main;
    line-height: $fontSize_main * 1.1;
    height: $fontSize_main * 1.1 * 2;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__status {
    width: 15px;
    height: 15px;
  }

  &__date {
    color: $color_hints;
    font-size: $fontSize_main;
  }

  &.unread {

    .message__text {
      font-weight: 700;
    }
  }
}

.invoice {

  &__item {
    margin-bottom: 15px;
    display: block;
  }

  &__documents {
    font-size: $fontSize_name;
    margin-top: 20px;
  }

  &__item-link,
  &__item-name {
    font-size: $fontSize_small;
  }

  &__item-link {
    color: $color_additional
  }

  &__accordeon-title {
    position: relative;
    align-items: center;
  }

  &__accordeon-icon {
    position: absolute;
    right: 15px;
  }

  &__accordeon-balance {
    padding-right: 30px;
    font-size: $fontSize_main;
    color: $color_hints;
  }
}

@media (min-width: 991px) {
  .invoice {

    &__documents {
      margin-top: 0;
    }
  }
  .cabinetPage {
    &__bonus {
      display: flex;
      margin-top: 30px;
    }
    &__bonus-bloc {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      margin-top: 0;
    }
    &__charge-payment {
      display: flex;
      justify-content: space-between;

      .paymentMethodsCheck {
        width: 48%;
      }
    }
    &__desk {
      display: block;
      min-width: 300px;
    }

    form {
      max-width: 600px;
      margin-left: 20px;
      padding-bottom: 50px;
    }

    .cabinet {
      &__avatar {
        width: 60px;
        height: 60px;
      }
      &__item {
        border: 0;
        font-size: $fontSize_main;
        position: relative;
        padding: 10px 15px;
        margin: 5px 0;

        &:hover {
          color: $color_second;

          &:before {
            display: block;
          }
        }

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 3px;
          left: 0;
          top: 0;
          background-color: $fon_green;
          z-index: 1;
          display: none;
        }
      }
      &__item.active {
        color: $color_second;

        &::before {
          display: block;
        }
      }
      &__item span:last-child {
        display: none;
      }
      &__bloc {
        border-bottom: 1px solid #cecece;
        padding-bottom: 10px;
        padding-top: 10px;
      }
      &__bloc-title {
        display: none;
      }
    }
  }
}
