@import "./bootstrap.min.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
label,
select,
form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap");
@import "./variables.scss";
@import "./modal.scss";
img {
  display: block;
  width: 100%;

  &:focus {
    outline: 0;
  }
}
input {
  &:focus {
    outline: none;
    border: 1px solid $color_input-focus;
  }
}
* {
  font-family: $cormorant;
}
body {
  background-color: $fonBody;
  scroll-behavior: smooth;
}
body.hidden,
body.hiddenModal,
body.hiddenCabinet {
  height: 100vh;
  overflow: hidden;
}
button {
  border: 0;
  outline: 0;
  background: none;
}
a,
p,
div {
  color: $color_main;
  font-size: $fontSize_main;
  font-family: $cormorant;
  text-decoration: none;
}
button:focus {
  outline: 0;
}

i {
  font-style: italic;
}

iframe {
  max-width: 100%;
}

.logo {
  display: block;
  color: $color_second;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $fontSize_title;

  &__image {
    width: 140px;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.input-group {
  margin-bottom: 20px;
  textarea,
  input {
    border: 1px solid $color_border_input;
    color: $color_input;
    line-height: $height_input;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 1px solid $color_input-focus;
    }
  }
  textarea {
    line-height: $fontSize_name;
  }
  label {
    margin-bottom: 5px;
    display: block;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $color_border_input;
  color: $color_input;
  line-height: $height_input;
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: 1px solid $color_input-focus;
  }
}

.select-container {
  position: relative;
  background-color: transparent;

  select {
    position: relative;
    background-color: transparent;
    z-index: 2;
  }

  i {
    position: absolute;
    right: 15px;
    color: $color_border_input;
    z-index: 1;
    top: 10px;
  }
}

.input-group.radio-group {
  display: flex;

  label:nth-child(2) {
    margin-left: 15px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button {
  background-color: $fon_button;
  color: $color_button;
  padding: 10px 20px;
  font-size: $fontSize_button;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &__icon svg,
  &__icon i {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__icon {
    padding-top: 3px;
  }
  span {
    text-align: center;
  }

  &:hover {
    opacity: 0.8;
    color: $color_button;
  }
}

.button.button-white {
  border: 1px solid $color_button-tran;
  background: $fon_button-tran;
  color: $color_button-tran;

  .button__icon {
    color: $color_second;
  }
}

.button.button-showMore {
  border: 1px solid $color_second;
  color: $color_second;
  background: transparent;
  font-size: $fontSize_button;

  span {
    padding-right: 5px;
  }

  i {
    transition: transform 0.3s ease;
    margin-bottom: 4px;
  }

  &.active {
    i {
      transform: rotate(180deg);
    }
  }
}

.button.instagram-button {
  background: linear-gradient(102.98deg, #d30064, #6000bf);
}

.borderBottom {
  border-bottom: 1px solid $color_border_input;
}

.thumbnail {
  position: relative;
  cursor: pointer;
  font-size: 120px;
  line-height: 240px;
  color: #ffff;
  text-align: center;
}

.title {
  font-weight: 700;
  color: $color_main;
  font-size: $fontSize_title;
  line-height: 1.3;
  padding: 40px 0;
  text-align: center;
}

.title-white {
  color: #ffffff;
}

.sub-title {
  font-weight: 700;
  color: #404145;
  font-size: $fontSize_name;
  line-height: 1.3;
  padding: 40px 0;
}
.sub-title.white {
  color: #fff;
}
.border-container {
  border: 2px solid #cbad75;
}

.text {
  color: $color_main;
  line-height: 1.3em;
  font-size: $fontSize_main;
  margin-bottom: 10px;
  font-weight: 400;
}

.text.red {
  color: $color_alert;
}

.hint {
  font-size: $fontSize_small;
  color: $color_hints;
  font-weight: 300;
}

main {
  padding-top: 70px;
}

.text.text-white {
  color: #ffffff;

  a {
    color: #fff;
  }
}

.text.text-center {
  text-align: center;
}
.bold {
  font-weight: 700;
}
section {
  padding-bottom: 40px;
}

@import "./header.scss";

.user {
  display: flex;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  &__name {
    color: $color_main;
  }

  &__description {
    font-size: $fontSize_small;
    color: $color_hints;
    margin-top: 5px;
    line-height: 1.2;
    height: $fontSize_small * 2 * 1.2;
    overflow: hidden;
  }

  &__freeCons {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    color: $color_second;
    background-color: #ffff;
    margin-top: 5px;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 3%;
    }

    &:before {
      left: 0;
      border: 14px solid transparent;
      border-left: 6px solid #f8f8f8;
    }
    &:after {
      right: 0;
      border: 14px solid transparent;
      border-right: 6px solid #f8f8f8;
    }
  }

  &__status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color_hints;
    border: 1px solid #fff;
    position: absolute;
    bottom: 2%;
    right: 5%;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color_second;
    color: $color_second;
    margin-right: 30px;

    &:hover {
      color: $color_additional;
    }
  }

  &__status.online {
    background: $color_green;
  }
}

.banner-promo {
  height: calc(100vh - 150px);
  overflow: hidden;

  .slick-track > div,
  .container,
  &__inner,
  .slick-track,
  .slick-list {
    height: 100%;
  }

  .slick-list {
    padding: 0 !important;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    button {
      font-size: 0;
      width: 20px;
      height: 8px;
      border: 1px solid $fon_bussines;
      border-radius: 6px;
      padding: 0;
      line-height: 5px;
      cursor: pointer;
    }
    li {
      display: flex;
      align-items: center;
      width: 20px;
      padding: 0;
      margin: 0 10px;
    }
    .slick-active button {
      background: $fon_bussines;
    }
  }

  &__text {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    color: $color_second;
    line-height: 1.3;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__gift {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: $fontSize_name;
    background-color: rgba($color: #000000, $alpha: 0.7);
    font-weight: 700;
    padding: 10px;
    margin-bottom: 0;
    margin: 50px 0;
  }

  &__slide {
    position: relative;
    height: 100%;
    display: block;
  }

  &__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    // top: 150px;
  }
}

.banner-about,
.banner-contacts,
.banner-team {
  max-height: calc(100vh - 150px);
  min-height: 50vh;
  overflow: hidden;
  position: relative;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  &__container {
    position: relative;
    height: 100%;
    display: block;
  }
  &__text {
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: $color_second;
    line-height: 1.3;
    max-width: 600px;
  }
  &__inner {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    small {
      color: $color_second;
    }
  }

  &__quote {
    border-top: 2px solid $color_second;
    border-bottom: 2px solid $color_second;
    padding: 20px 0;
  }

  &__quote p {
    line-height: 1.5;
    font-size: 22px;
    text-align: center;
    max-width: 500px;
  }
}

.banner-team:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.call {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/icons/call-now-bg.png);
  background-size: cover;

  &__button {
    max-width: 400px;
  }
}

.map-contact {
  padding: 0;
  position: relative;
  z-index: 1;

  .col-12 {
    padding: 0;
  }

  .hours-plan {
    background: $fon_bussines;
    padding: 80px 15px;
    position: relative;
    z-index: 2;

    img {
      margin-bottom: 30px;
    }

    h5 {
      font-size: $fontSize_name;
      color: #fff;
      line-height: 1.1;
      margin-bottom: 20px;
    }

    li,
    p {
      font-size: $fontSize_small;
      color: #ffff;
      line-height: 1.1;
    }

    p {
      margin-bottom: 10px;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid rgba($color: $color_border_input, $alpha: 0.55);

      span:last-child {
        color: rgba($color: $color_border_input, $alpha: 0.55);
      }
    }

    ul {
      margin-bottom: 40px;
    }

    .button {
      span {
        color: #fff;
      }

      #arrow {
        fill: #fff;
      }
    }
  }

  .mapouter {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    min-height: 500px;
    z-index: 1;
    filter: grayscale(100%);
  }

  iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
}

.team {
  background-color: $fon_bussines;
  &__button {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;

    i {
      margin-right: 10px;
    }
  }
  &__title {
    color: #fff;
  }
  &__text {
    color: #fff;
    font-size: $fontSize_main;
    line-height: 1.5;
    margin: 20px 0;
    margin-top: 0;
  }

  &__item {
    box-shadow: 0 8px 15px 0 rgba(156, 156, 156, 0.5);
    border-radius: 6px;
    background: $fonBody;
    margin-bottom: 40px;
  }

  &__item img {
    filter: grayscale(100%);
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
  }

  &__item:hover {
    background: $fon_bussines;
    .team__description {
      background: $fon_bussines;
    }
    .team__name {
      color: #ffff;
    }
    .team__func {
      color: #fff;
    }

    .team__button {
      background: #ffff;
      color: $color_second;
    }
  }

  &__name {
    color: $color_main;
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  &__description {
    background: $fonBody;
    padding: 30px;
    position: relative;
    transition: all 0.3s ease;
  }

  &__func {
    font-size: $fontSize_small;
    line-height: 1.3;
    text-transform: uppercase;
    color: $color_second;
    height: $fontSize_small * 2.3;
    overflow: hidden;
    text-align: center;
    display: block;
  }

  &__container {
    position: relative;
    bottom: -40px;
  }
}

.expertsRight {
  &__header {
    display: flex;
    margin-bottom: 20px;
  }
  &__avatar {
    min-width: 90px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $color_border_input;
  }
  &__description {
    margin-left: 15px;
  }
  &__status {
    color: $color_additional;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    color: $color_main;
  }
  &__domains {
    font-size: $fontSize_main;
    margin-bottom: 10px;
  }

  &__freeCons {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    color: $color_second;
    background-color: #ffff;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 3%;
    }

    &:before {
      left: 0;
      border: 14px solid transparent;
      border-left: 6px solid #f8f8f8;
    }
    &:after {
      right: 0;
      border: 14px solid transparent;
      border-right: 6px solid #f8f8f8;
    }
  }
  &__buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    width: 48%;
    font-size: $fontSize_main;
  }

  &__price-link {
    font-size: $fontSize_main;
    text-decoration: underline;
    font-weight: 500;
    color: $color_second;
    text-align: center;
    display: block;
  }
}

.marketplace {
  &__items {
    display: grid;
    grid-template-columns: 1fr;
  }
  &__item {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-top: 0;

    &:hover {
      img {
        transform: scale(1.1);
      }
      .marketplace__text {
        color: $color_second;
      }
    }
  }
  &__text {
    text-align: center;
    padding-top: 10px;
  }
  &__image-container {
    overflow: hidden;
    height: 100%;
    max-height: 500px;
  }

  img {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 10px;

    transition: transform 0.6s ease;
  }
}

.testimonials {
  &__activity {
    color: $color_hints;
  }
  &__name {
    font-weight: 700;
    font-size: $fontSize_name;
    margin: 5px 0;
  }
  &__text {
    line-height: 1.3;
    padding: 24px 0;
  }
  &__slider {
    padding-bottom: 30px;

    .slick-list {
      padding: 0px !important;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      font-size: 0;
      height: 12px;
      width: 12px;
      background: #62646a;
      margin: 0 5px;
      border-radius: 50%;
      opacity: 0.4;
    }

    .slick-active button {
      opacity: 1;
    }
  }
}

.radioContainer {
  display: block;
  position: relative;

  &__mark {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color_border_input;
    padding: 10px;
    color: $color_input;
    font-size: $fontSize_small;
    text-align: center;
    line-height: 1.3;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  input:checked ~ &__mark {
    background-color: $fon_green;
    color: #fff;
  }
}

.radio-strd {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 0;

  &__mark {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $color_border_input;
    left: 0;
    top: -3px;
  }

  &__mark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
    z-index: 1;
    background-color: $color_main;
    border-radius: 50%;
    display: none;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  input:checked ~ &__mark:after {
    display: block;
  }
}

.checkContainer {
  display: block;
  position: relative;
  color: $color_input;
  padding-left: 25px;
  cursor: pointer;

  &__mark {
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $color_border_input;
    color: $color_input;
    text-align: center;

    svg {
      width: 70%;
      height: 70%;
      opacity: 0;
      transition: opacity 0.3s ease;
      margin-bottom: 2px;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    left: 0;
    height: 0;
  }

  input:checked ~ &__mark svg {
    opacity: 1;
  }
}

.breadcrumbs {
  padding-top: 10px;

  &__list {
    display: flex;
  }

  &__icon {
    height: 5px;
    width: 5px;
    float: right;
    margin-top: 1px;
    svg {
      width: 100%;
    }
  }

  &__link {
    padding: 0 10px;
    line-height: 18px;
    font-size: $fontSize_small;
    color: $color_hints;
  }

  &__item {
    height: 20px;
  }

  &__item:first-child &__link {
    padding-left: 0;
  }
}

.accordeon {
  display: block;

  &__item {
    display: block;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: $fontSize_name;
    font-weight: 400;
    padding: 10px 0;
    cursor: pointer;
  }

  &__list {
    list-style-type: disc;
    list-style-position: inside;
  }

  &__body {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease;
  }
  &__icon {
    transition: transform 0.3s ease;
    font-size: $fontSize_small;
  }

  a {
    text-decoration: underline;
  }
}

.accordeon__item.open {
  margin-bottom: 20px;

  .accordeon__body {
    height: auto;
    opacity: 1;
  }

  .accordeon__icon {
    transform: rotate(180deg);
  }
}

.anchors {
  margin-bottom: 40px;
  &__items {
    border-bottom: 1px solid $color_border_input;
    width: 100%;
    overflow-y: scroll;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 30px;
  }

  &__items::-webkit-scrollbar {
    display: none;
  }

  &__item {
    margin-right: 10px;
    font-size: $fontSize_main;
    font-weight: 700;
    line-height: $fontSize_main + 10;
    padding-bottom: 5px;
    margin-bottom: -1px;
    color: $color_hints;
  }

  &__item-active {
    color: $color_second;
    border-bottom: 2px solid $color_second;
  }

  &__button {
    font-size: $fontSize_main;
  }

  &__button-container {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: $fonBody;
    z-index: 2;
  }
}

.country-flag {
  width: 15px;
}

.reviews {
  &__customTitle {
    display: flex;
    align-items: center;
    padding: 40px 0;
  }

  &__sub-title {
    margin-bottom: 0;
    padding: 0;
    margin-right: 20px;
  }

  &__rating {
    color: $fon_yellow;

    svg {
      margin-bottom: 3px;
    }
    span {
      padding: 0 5px;
    }
    span:last-child {
      color: $color_main;
    }
  }

  &__rating-categories {
    margin-bottom: 20px;
  }

  &__rating-category-title {
    color: $color_hints;
    margin-bottom: 10px;
  }
  &__rating-category-item {
    margin-bottom: 15px;
  }

  &__posts-item {
    display: flex;
    border-top: 1px solid #dadbdd;
    padding: 20px 0;

    &:last-child {
      border-bottom: 1px solid #dadbdd;
    }
  }

  &__posts-avatar {
    margin-right: 20px;
  }

  &__posts-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__posts-name {
    font-size: $fontSize_name;
    display: flex;
    font-weight: 700;
    margin-bottom: 5px;

    .rating {
      margin-left: 15px;
      font-weight: 400;
    }
  }
  &__posts-country {
    color: $color_hints;
    display: flex;
    align-items: center;
    font-size: $fontSize_small;
    margin-bottom: 15px;

    img {
      margin-right: 10px;
    }
  }
  &__posts-text {
    margin-bottom: 20px;
  }
  &__posts-date {
    color: $color_hints;
    font-size: $fontSize_small;
    margin-bottom: 20px;
  }
  button {
    padding-left: 0;
    padding-right: 15px;
    cursor: pointer;
  }
}

@import "./footer.scss";

.prodOne {
  padding-top: $height_header + 70;

  .cke {
    li {
      list-style-type: disc;
      list-style-position: inside;
      padding: 5px 0;
    }

    img {
      width: auto;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__anchor-box a {
    color: $color_second;
    text-decoration: underline;
  }

  &__title {
    line-height: 1.2;
    font-size: $fontSize_title;
    padding: 10px 0;
  }

  .sub-title {
    padding-top: 0;
  }

  &__anchor-box {
    padding-bottom: 20px;
  }

  &__header {
    flex-direction: column;
  }

  &__avatar {
    order: 2;
  }

  &__description {
    order: 1;
    margin-left: 0;
  }

  &__avatar {
    min-width: 130px;
    width: 130px;
    height: 130px;
    margin: 30px auto;
    margin-bottom: 10px;
  }

  &__button-white {
    width: 100%;
  }

  &__freeCons {
    margin-bottom: 25px;
  }

  &__price {
    text-align: center;
    margin-bottom: 20px;
  }

  &__about {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
    padding-top: 40px;
  }

  &__consult {
    position: relative;
    width: 100%;
  }

  &__table {
    width: 100%;
    border-bottom: 1px solid $color_border_input;
    margin-bottom: 30px;

    caption {
      text-align: left;
      font-weight: 700;
      margin-bottom: 10px;
    }

    tr,
    td {
      border-bottom: 1px solid $color_border_input;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 300;
    }
    tr:first-child {
      border-top: 1px solid $color_border_input;
    }
    td:nth-child(2) {
      padding: 10px;
      font-weight: 700;
    }
    a {
      color: $color_second;
      font-weight: 500;
    }
  }

  .text-center {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 20px;
  }
}

.about {
  &__section {
    padding: 40px 0;
  }

  &__text {
    line-height: 1.5;
  }

  &__marketplace-title {
    padding-top: 0;
  }
}

.contacts {
  &__country {
    font-size: $fontSize_name;
    font-weight: 500;
  }

  &__flag {
    display: block;
    width: auto;
    max-width: 120px;
    margin: auto;
    margin-bottom: 65px;
  }

  &__button {
    margin: auto;
    margin-top: 20px;
    font-size: $fontSize_main;
  }

  &__form {
    max-width: 360px;
    margin: auto;

    .button {
      min-width: 360px;
      margin: auto;
    }
  }

  .text i {
    padding-right: 10px;
  }
}

.services {
  &__title {
    padding-bottom: 10px;
  }
}

.center {
  text-align: center;
}

@media (min-width: 767px) {
  a:hover {
    color: $color_second;
  }

  .homeContent {
    .sub-title,
    .title {
      padding: 80px 0;
    }
    section {
      padding-bottom: 80px;
    }
  }

  .banner {
    height: 70vh;

    &__points {
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      max-width: 700px;
      margin: auto;
      margin-top: 30px;
    }

    &__inner {
      width: 100%;
    }

    &__text {
      font-size: $fontSize_title;
      margin-bottom: 30px;
    }

    &__gift {
      margin-bottom: 10px;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .marketplace {
    &__items {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 -15px;
    }
    &__item {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .prodOne {
    &__title {
      padding: 10px 0;
    }
    &__header {
      flex-direction: row;
      justify-content: flex-start;
    }

    &__avatar {
      order: 1;
      width: 200px;
      height: 200px;
      margin: 0;
      margin-right: 20px;
    }

    &__description {
      order: 2;
    }

    &__actions {
      max-width: 600px;
    }
  }
}

@media (min-width: 991px) {
  .expertsRight {
    box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.2);
    padding: 40px 25px;
    margin: 0 -15px;
    width: 310px;
    position: sticky;
    top: 170px;
    &__avatar {
      width: 60px;
      height: 60px;
      min-width: 60px;
    }
  }
  main {
    padding-top: 150px;
  }
  .map-contact {
    padding: 80px 0;

    .hours-plan {
      padding: 40px;
    }
    .mapouter {
      position: absolute;
      width: 100vw;
      height: 70vh;
    }
  }

  .anchors {
    height: 100%;
    position: relative;
    padding-top: 0px;
    width: 200px;
    margin-bottom: 0;

    &__items {
      position: sticky;
      top: 165px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      height: auto;
    }

    &__item {
      margin-bottom: 5px;
    }

    &__item-active {
      border-bottom: 2px solid transparent;
    }

    &__button-container {
      position: static;
      width: 100%;
      justify-content: flex-start;
      height: auto;
      margin-bottom: 20px;
    }
  }

  .accordeon {
    &__body {
      padding-top: 10px;
    }
  }
}

@media (min-width: 1200px) {
  .prodOne {
    &__slide {
      display: flex;
      flex-wrap: wrap;
    }

    &__header {
      min-width: 48%;
    }

    &__actions {
      padding-left: 30px;
      min-width: 48%;
      max-width: 100%;
    }
    &__price-link {
      width: 100%;
    }
  }
}
